@import '../../styles/base.css';

.root {
	margin-top: 40px;

	& a {
		border: none;
	}
}

.title {
    position: relative;
    display: inline-block;

    &:before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: white;
        display: inline-block;
        position: absolute;
        left: -65px;
        top: 7px;
        border: 5px solid var(--intergen-black);
    }
}

.summary {
	margin: 20px 0 0 0;
}