@import "../../styles/base.css";

.wrap {
    height: 60px;
    background: var(--intergen-yellow);
}

.container {
    lost-utility: clearfix;
    lost-center: var(--max-page-width);
    line-height: 60px;
}

.navLeft {
    lost-column: 1/3;

    & a {
        text-decoration: none;
        color: black;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom-color: black;
        }
    }
}

.navRight {
    lost-column: 2/3;
    lost-align: right;
    height: 60px;

    & ul {
        margin: 0;
        list-style: none;
    }

    & li {
        float: left;
        padding: 0 10px;
        height: 60px;
        margin-right: 10px;

        & a {
            text-decoration: none;
            color: black;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom-color: black;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}