@import './typography.css';

:root {
    --intergen-yellow: #FFD300;
    --intergen-logo-yellow: #FFDD00;
    --intergen-black: #222;

    --max-page-width: 1280px;
}

html, body {
    margin: 0;
    background-color: var(--intergen-black);
}

*::selection {
	background: var(--intergen-yellow);
}

*::-moz-selection {
	background: var(--intergen-yellow);
}