@import './util/tipograf.css';

:root {
    --base-font-family: 'Lato', Helvetica, Arial, sans-serif;
    --header-font-family: 'Lato', Helvetica, Arial, sans-serif;
    --header-font-weight: 100;
}

body {
    color: white;

    & a {
        color: white;
        text-decoration: none;
        border-bottom: 1px dashed #fff;
    }
}